<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>753681300785-g4c5c609ln60023i4fvg49hve6r15eos.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.753681300785-g4c5c609ln60023i4fvg49hve6r15eos</string>
	<key>API_KEY</key>
	<string>AIzaSyAjZJoX2L0ygLYAdfEp-k49fCZdWrJng08</string>
	<key>GCM_SENDER_ID</key>
	<string>753681300785</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sth.flutter.org.instagramSampleApplication</string>
	<key>PROJECT_ID</key>
	<string>inst-application-tayebe-sth</string>
	<key>STORAGE_BUCKET</key>
	<string>inst-application-tayebe-sth.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:753681300785:ios:7e981b950c98fb67620410</string>
</dict>
</plist>